{% extends 'base.html' %}
{% load static tags %}
{% block content %}
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>PAVSHOP blog list</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">BLOG</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Blog List -->
    <section class="blog-list blog-list-3 padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-md-9"> 
            
            <!-- Article -->
            {% for blog in blog_list %}
            <article>
              <div class="row">
                <div class="col-sm-5"> 
                  <!-- Post Img --> 
                  <img class="img-responsive" src="{{ blog.image.url }}" alt="" > </div>
                <div class="col-sm-7"> 
                  <!-- Tittle -->
                  <div class="post-tittle left"> <a href="#." class="tittle">{{ blog.title }}</a> 
                    <!-- Post Info --> 
                    <span><i class="primary-color icon-user"></i> {{ blog.author }}</span> <span><i class="primary-color icon-calendar"></i> {{ blog.created_at|date:"F d, Y" }} </span> 
                  <!-- Post Content -->
                  <div class="text-left">
                    <p> {{ blog.description }}</p>
                    <a href="{% url 'blog_detail' blog.id  %}" class="red-more">READ MORE</a> </div>
                </div>
              </div>
            </article>
            {% endfor %}
            
            
            <!-- Pagination -->
            <ul class="pagination in-center">
              {% if page_obj.has_previous %}
                 <li><a class="pagination-links" data-page="{{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for page in page_obj.paginator.page_range %}
                 {% if page is page_obj.number %}
                    <li class="active"><a href="#">{{page}}</a></li>
                 {% else %}
                    <li><a class="pagination-links" data-page="{{page}}">{{page}}</a></li>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                 <li><a class="pagination-links" data-page="{{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
            
          </div>
          
          <!-- Sider Bar -->
          <div class="col-md-3"> 
            
            <!-- SEARCH -->
            <div class="search">
              <input class="form-control" type="search" placeholder="Search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate">
                {% get_categories as categories %}
                {% for category in categories %}
                  <li><a href="{% url 'blog_list' %}?category_id={{category.id}}"> {{ category.name }} {{ category.blog_count }}</a></li>
                {% endfor %}
                <!-- <li><a href="#."> Chair <span>24</span></a></li>
                <li><a href="#."> Bag <span>122</span></a></li>
                <li><a href="#."> Soffa <span>09</span></a></li>
                <li><a href="#."> Bed <span>12</span></a></li>
                <li><a href="#."> Shoes <span>98</span></a></li>
                <li><a href="#."> Table <span>34</span></a></li>
                <li><a href="#."> Bedsheets <span>23</span></a></li>
                <li><a href="#."> Curtains <span>43</span></a></li>
                <li><a href="#."> TV Cabinets <span>12</span></a></li>
                <li><a href="#."> Clocks <span>18</span></a></li>
                <li><a href="#."> Towels <span>25</span></a></li> -->
              </ul>
              
              <!-- Recent Post -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">recent post</h5>
              <ul class="papu-post margin-top-20">
                {% for newblog in newblogs %}
                <li class="media">
                  <div class="media-left"> <a href="#"> <img class="media-object" src="{{ newblog.image.url }}" alt=""></a> </div>
                  <div class="media-body"> <a class="media-heading" href="#.">{{ newblog.title }}</a> <span>Posted on {{ newblog.created_at|date:"F d, Y"}}</span> </div>
                </li>
                {% endfor %}
                
              </ul>
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% get_popular_tags as tags %}
                {% for tag in tags %}

                  <li><a href="{% url 'blog_list' %}?tag_id={{tag.id}}"> {{ tag.title }} </a></li>
                {% endfor %}
<!--           
                <li><a href="#.">Towels</a></li>
                <li><a href="#.">Chair</a></li>
                <li><a href="#.">Bedsheets</a></li>
                <li><a href="#.">Shoe</a></li>
                <li><a href="#.">Curtains</a></li>
                <li><a href="#.">Clocks</a></li>
                <li><a href="#.">TV Cabinets</a></li>
                <li><a href="#.">Best Seller</a></li>
                <li><a href="#.">Top Selling</a></li> -->
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">archives</h5>
              <ul class="shop-cate">
                <li><a href="#."> January 2015 </a></li>
                <li><a href="#."> February 2015 </a></li>
                <li><a href="#."> March 2015 </a></li>
                <li><a href="#."> April 2015 </a></li>
                <li><a href="#."> May 2015 </a></li>
              </ul>
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{% static 'images/sidebar-bnr.jpg' %}" alt="">
                <div class="position-center-center"> <span class="price"><small>$</small>299</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Culture BLOCK -->
    <section class="cultur-block">
      <ul>
        <li> <img src="{% static 'images/cultur-img-1.jpg' %}" alt="" > </li>
        <li> <img src="{% static 'images/cultur-img-2.jpg' %}" alt="" > </li>
        <li> <img src="{% static 'images/cultur-img-3.jpg' %}" alt="" > </li>
        <li> <img src="{% static 'images/cultur-img-4.jpg' %}" alt="" > </li>
      </ul>
      
      <!-- Culture Text -->
      <div class="position-center-center">
        <div class="container">
          <div class="col-sm-6 center-block">
            <h4>FOLLOW US @ INSTAGRAM</h4>
            <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
              eros vel fermentum consectetur, ris dolor in ex. </p>
          </div>
        </div>
      </div>
    </section>
    
    {% include 'partials/newsletter.html' %}
  </div>
  

  <script>
    pagination_links = document.getElementsByClassName("pagination-links")
    console.log(pagination_links);
    for (let i = 0; i < pagination_links.length; i++) {
      pagination_links[i].addEventListener("click", function() {

        if (window.location.href.includes('page') == false) {
                if (window.location.href.includes('?')) {
                    window.location.href += `&page=${pagination_links[i].getAttribute("data-page")}`;
                } else {
                    window.location.href += `?page=${pagination_links[i].getAttribute("data-page")}`;
                }
            } else {
                window.location.href = window.location.href.replace(/page=.*?(&|$)/, `page=${pagination_links[i].getAttribute("data-page")}$1`);
            }

      });
    }


  </script>
{% endblock %}