{% extends 'base.html' %}

{% block content %}
      </div>
    </div>
  </header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>LOGIN</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">PAGES</a></li>
          <li class="active">LOGIN</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7">
                <h6>LOGIN YOUR ACCOUNT</h6>
                <form action="" method="POST">
                  <ul class="row">
                    
                    <!-- Name -->
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    {% for field in form %}
                    <li class="col-md-12">
                      <label> 
                        {{ field.label_tag }}
                        {{field}}
                      </label>
                      <ul>
                      {% for error in field.errors %}
                        <li>{{error}}</li>
                      {% endfor %}
                      </ul>
                    </li>
                    
                    {% endfor %}
                    <!-- LOGIN -->
                    <li class="col-md-4">
                      <button type="submit" class="btn">LOGIN</button>
                    </li>
                    
                    <!-- CREATE AN ACCOUNT -->
                    <li class="col-md-4">
                      <div class="checkbox margin-0 margin-top-20">
                        <input id="checkbox1" class="styled" type="checkbox">
                        <label for="checkbox1"> Stay me Login</label>
                      </div>
                    </li>
                    
                    <!-- FORGET PASS --> 
                    <li class="col-md-4">
                      <div class="checkbox margin-0 margin-top-20 text-right">
                        <a href="{% url 'password_reset' %}">Forget Password</a>
                      </div>
                    </li>
                  </ul>
                </form>
                
              </div>
              
              <!-- SUB TOTAL -->
              <div class="col-sm-5">
                <h6>LOGIN WITH</h6>
                
                <ul class="login-with">
                	<li>
                    	<a href="{% url 'social:begin' 'facebook' %}?next=/"><i class="fa fa-facebook"></i>FACEBOOK</a>
                    
                    </li>
                    
                    <li>
                    	<a href="{% url 'social:begin' 'google-oauth2' %}?next=/"><i class="fa fa-google"></i>GOOGLE</a>
                    
                    </li>
<!--                     
                    <li>
                    	<a href="#."><i class="fa fa-twitter"></i>TWITTER</a>
                    
                    </li> -->
                
                </ul>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% include 'partials/about.html'%}
    {% include 'partials/newsletter.html'  %}
  </div>
  
  <!--======= FOOTER =========-->
  {% endblock %} 