{% extends 'base.html' %}

{% block content %}
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>CHECKOUT</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">SHOP</a></li>
          <li class="active">CHECKOUT</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
         
                   
                    <!-- Name -->
                    <!-- <li class="col-md-6">
                      <label> *FIRST NAME
                        <input type="text" name="first-name" value="" placeholder="">
                      </label>
                    </li> -->
                    <!-- LAST NAME -->
                    <!-- <li class="col-md-6">
                      <label> *LAST NAME
                        <input type="text" name="last-name" value="" placeholder="">
                      </label>
                    </li> -->
                    <!-- <li class="col-md-6">  -->
                      <!-- COMPANY NAME -->
                      <!-- <label>COMPANY NAME
                        <input type="text" name="company" value="" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-6">  -->
                      <!-- ADDRESS -->
                      <!-- <label>*ADDRESS
                        <input type="text" name="address" value="" placeholder="">
                      </label>
                    </li> -->
                    <!-- TOWN/CITY -->
                    <!-- <li class="col-md-6">
                      <label>*TOWN/CITY
                        <input type="text" name="town" value="" placeholder="">
                      </label>
                    </li> -->
                    
                    <!-- COUNTRY -->
                    <!-- <li class="col-md-6">
                      <label> COUNTRY
                        <input type="text" name="contry-state" value="" placeholder="">
                      </label>
                    </li> -->
                    
                    <!-- EMAIL ADDRESS -->
                    <!-- <li class="col-md-6">
                      <label> *EMAIL ADDRESS
                        <input type="text" name="contry-state" value="" placeholder="">
                      </label>
                    </li> -->
                    <!-- PHONE -->
                    <!-- <li class="col-md-6">
                      <label> *PHONE
                        <input type="text" name="postal-code" value="" placeholder="">
                      </label>
                    </li>
                     -->
                    <!-- PHONE -->
                    
                  </ul>
                </form>
              </div>
              
              <!-- SUB TOTAL -->
              <div class="col-sm-5">
                <h6>YOUR ORDER</h6>
                <div class="order-place">
                  <div class="" id="ship">
                      {% for i in products %}
                      
                    <p>{{i.title}} <span>$ {{i.price}} </span></p>
                    {% endfor %}
                    
                    
                    <!-- SUB TOTAL -->
                    <div id="total">
                      <p class="alltotal" data-value="{{ total }}">TOTAL COST <span> $ {{total}}</span></p>
                    </div>
                    
                  </div>
                  <div class="pay-meth">
                    <ul>
                      <!-- <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio1" value="option1" checked>
                          <label for="radio1"> DIRECT BANK TRANSFER </label>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat turpis, pellentesque non leo eget, pulvinar pretium arcu. Mauris porta elit non.</p>
                      </li> -->
                      <!-- <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio2" value="option2">
                          <label for="radio2"> CASH ON DELIVERY</label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio3" value="option3">
                          <label for="radio3"> CHEQUE PAYMENT </label>
                        </div>
                      </li>
                      <li> -->
                        <!-- <div class="radio">
                          <input type="radio" name="radio1" id="radio4" value="option4">
                          <label for="radio4"> PAYPAL </label>
                          
                        </div> -->
                        <div id="paypal-button-container" style="display: block;"></div>
                      </li>
                      <li>
                        <!-- <div class="checkbox">
                          <input id="checkbox3-4" class="styled" type="checkbox">
                          <label for="checkbox3-4"> I’VE READ AND ACCEPT THE <span class="color"> TERMS & CONDITIONS </span> </label>
                        </div>
                      </li> -->
                    </ul>
                    <!-- <a href="" class="btn  btn-dark pull-right margin-top-30">PLACE ORDER</a> </div> -->
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
  src="https://www.paypal.com/sdk/js?client-id=AWaL3jgpqMaqltKmIFgQQYtdWlfE4GPNgxDIPkIYMvbiWBsSThDTn-ePvYCyP2s3oHAlBDlHVJunlcrm&currency=USD"></script>

<script>
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({

    // Set up the transaction
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: parseInt(document.querySelector('.alltotal').getAttribute('data-value'))

          }
        }]
      });
    },

    // Finalize the transaction
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (orderData) {
        // Successful capture! For demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        var transaction = orderData.purchase_units[0].payments.captures[0];
        alert('Transaction completed successfully');
        // alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\n' + 'completed successfully');
        

        // Replace the above to show a success message within this page, e.g.
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '';
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }


  }).render('#paypal-button-container');
</script>
    
    {% include 'partials/about.html'%}
    {% include 'partials/newsletter.html'  %}
  </div>
  
{% endblock %} 
{% block js %}



{% endblock js %}
  