{% extends 'base.html' %}
{% load static %}
{% block content %}
      </div>
    </div>
  </header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>WOOD CHAIR</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Data</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Popular Products -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- SHOP DETAIL -->
        <div class="shop-detail">
          <div class="row"> 
            
            <!-- Popular Images Slider -->
            <div class="col-md-7"> 
              
              <!-- Images Slider -->
              <div class="images-slider">
                <ul class="slides">
                  <li data-thumb="images/large-img-1.jpg"> <img class="img-responsive" src="{{ pp.main_image.image.url }}"  alt=""> </li>
                  <li data-thumb="images/large-img-2.jpg"> <img class="img-responsive" src="{% static 'images/large-img-2.jpg' %}"  alt=""> </li>
                  <li data-thumb="images/large-img-3.jpg"> <img class="img-responsive" src="{% static 'images/large-img-3.jpg' %}"  alt=""> </li>
                </ul>
              </div>
            </div>
            
            <!-- COntent -->
            <div class="col-md-5">
              <h4>{{ pp.title }}</h4>
             {% if pp.discount %}
              
              <span class="price" id="priceItem" data-value="{{ pp.price }}" style="text-decoration: line-through 2px red;"><small>$</small>{{ pp.price }}</span> 
              <span class="price" id="priceItem" data-value="{{ pp.price }}"><small>$</small>{{ pp.discount_price }}</span> 
              <input type="hidden" value="{{ pp.id }}" id="Idpro">
              <!-- Sale Tags -->
              <div class="on-sale"> {{pp.discount.percentage }}% <span>OFF</span> </div>
              {% else %}
              <span class="price" id="priceItem" data-value="{{ pp.price }}"><small>$</small>{{ pp.price }}</span> 
              <input type="hidden" value="{{ pp.id }}" id="Idpro">
              {% endif %}
              <ul class="item-owner">
                <li>Designer :<span> {{ pp.product.category.name }}</span></li>
                <li>Brand:<span>{{ pp.product.brand.name }}</span></li>
              </ul>
              
              <!-- Item Detail -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam</p>
              
              <!-- Short By -->
              <div class="some-info">
                <ul class="row margin-top-30">
                  <li class="col-xs-6">
                    <div class="quinty"> 
                      <!-- QTY -->
                      <select class="selectpicker" id="countStock" min="1" max="{{pp.stock}}">
                        {% for i in pp.stock|get_range %}
                        <option>{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div >
                      {% if pp.stock <= 3 %}
                      <span style="margin-left: 7px; color: crimson;">son {{pp.stock}} mehsul</span>
                      {% endif %}
                    </div>
                    <li ><span class="margin-right-20">size</span>
                      <div>
                        <select class="selectpicker" id="sizedefine">
                          {% for i in size %}
                          
                          <option>{{i}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </li>
                    
                  </li>
                  
                  
                  
                  
                  <!-- COLORS -->
                  <li class="col-xs-6">
                    
                    <ul class="colors-shop">
                      
                      <li><span class="margin-right-20">Colors</span></li>
                         
                      {% for link, color in link_product_color %}
                      
                          <li><a href="{{link.get_absolute_url}}"  style="background-color: {{color}}; border: solid 1px black" ></a></li>
                          
                      {% endfor %}
                      
                    </ul>
                    
                  </li>
                  
                 
                  
                  <!-- ADD TO CART -->
                  <li class="col-xs-6" id="basketButton"> <a href="#." class="btn">ADD TO CART</a> </li>
                  
                  <!-- LIKE -->
                  <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart"></i></a> </li>
                </ul>
                
                <!-- INFOMATION -->
                <div class="inner-info">
                  <h6>DELIVERY INFORMATION</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus ligula a scelerisque gravida. Nullam laoreet tortor ac maximus alique met, consectetur adipiscing elit. </p>
                  <h6>SHIPPING & RETURNS</h6>
                  <h6>SHARE THIS PRODUCT</h6>
                  
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
            <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
            <li role="presentation"><a href="#review" role="tab" data-toggle="tab">REVIEW {{ pp.review_count }}</a></li>
            <li role="presentation"><a href="#tags" role="tab" data-toggle="tab">INFORMATION</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade in active" id="descr">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed lectus id nisi interdum mollis. Nam congue tellus quis elit mattis congue. Aenean eu massa sed mauris hendrerit ornare sed eget ante. 
                Vestibulum id eros quam. Nunc volutpat at magna gravida eleifend. Phasellus sit amet nisi tempus, tincidunt elit ac, tempor metus. <br>
              </p>
              <h6>THE SIMPLE FACTS</h6>
              <ul>
                <li>
                  <p>Praesent faucibus, leo vitae maximus dictum,</p>
                </li>
                <li>
                  <p> Donec porta ut lectus </p>
                </li>
                <li>
                  <p> Phasellus maximus velit id nisl</p>
                </li>
                <li>
                  <p> Quisque a tellus et sapien aliquam sus</p>
                </li>
                <li>
                  <p> Donec porta ut lectus </p>
                </li>
                <li>
                  <p> Phasellus maximus velit id nisl</p>
                </li>
              </ul>
            </div>
            
            <!-- REVIEW -->
            <div role="tabpanel" class="tab-pane fade" id="review">
              <h6>{{ pp.review_count }} REVIEWS FOR SHIP YOUR IDEA</h6>
              
              <!-- REVIEW PEOPLE 1 -->
              {% for i in review_list %}
              <div class="media">
                
                <div class="media-left"> 
                  <!--  Image -->
                  {% if i.user.image %}
                    <div class="admin-pic"> <img src="{{i.user.image.url}}" alt="" height='50' width='50' style="object-fit: cover;"> </div>
                  {% else %}
                    <div class="admin-pic" style="background-color: grey;"> <img src="" alt=""> </div>
                  {% endif %}
                </div>
                <!--  Details -->
                <div class="media-body">
                  <p class="font-playfair">{{ i.comment }}</p>
                  <h6>{{ i.user.get_full_name }}<span class="pull-right">{{ i.created_at|date:"F d, Y" }}</span> </h6>
                </div>
                
              </div>
              {% endfor %}
              <!-- REVIEW PEOPLE 1 -->
              
              
              {% if user.is_authenticated %}
              <!-- ADD REVIEW -->
              <h6 class="margin-t-40">ADD REVIEW</h6>
              <form class="contact-form" action="" method="POST" name="detailed_product">
                {% csrf_token %}
                <ul class="row"> 
                  {{ form.non_field_errors }}
                  {% for field in form %}
                  <li class="col-sm-6">
                    <label>{{ field.label_tag }}
                      {{ field }}
                      {% if field.errors %}
                      <ul>
                        {% for error in field.errors %}
                        <li class="alert-danger">{{ error }}</li>
                        {% endfor %}
                      </ul>
                  
                      {% endif %}
                    </label>
                  </li>
                  
                  
                  {% endfor %}
                 
                </ul>
                <li class="col-sm-6"> 
                  <!-- Rating Stars -->
                  <div class="stars"> <span>YOUR RATING</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                </li>
                <li class="col-sm-6">
                  <button name="detailed_product" type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
                </li>
              </form>
              {% endif %}
            </div>
            
            <!-- TAGS -->
            <div role="tabpanel" class="tab-pane fade" id="tags"> </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>YOU MAY LIKE IT</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
        
        <!-- Popular Item Slide -->
        <div class="papular-block block-slide single-img-demos"> 
          {% for y in related_versions %}
          <!-- Item -->
          <div class="item"> 
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="{{y.main_image.image.url}}" alt="" > 
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="{% static 'images/product-1.jpg' %}" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#."></a>
              <p>{{ y.title }}</p>
            </div>
            <!-- Price --> 
            <span class="price">{{ y.price }}<small>AZN</small></span> </div>
          
          {% endfor %}
          
          
          
        </div>
      </div>
    </section>
    
    {% include 'partials/about.html'%}
    {% include 'partials/newsletter.html'  %}
  </div>
  
  <!--======= FOOTER =========-->
 
  {% endblock %} 
    