{% extends 'base.html' %}
{% load static tags %}
{% block content %}
      </div>
    </div>
  </header>
  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>PAVSHOP PRODUCTS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Data</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Item Content -->
          <div class="col-sm-9">
            <div class="item-display">
              <div class="row"> 
                <!-- Products Select -->
                <div class="col-xs-6">
                  <div class="pull-left"> 
                    
                    <!-- Short By -->
                    <select class="selectpicker">
                      <option>Short By</option>
                      <option>Short By</option>
                      <option>Short By</option>
                    </select>
                    <!-- Filter By -->
                    <select class="selectpicker">
                      <option>Filter By</option>
                      <option>Short By</option>
                      <option>Short By</option>
                    </select>
                    
                    <!-- GRID & LIST --> 
                    <a href="#." class="grid-style"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a> </div>
                </div>
                <!-- <div class="col-xs-6 text-right"> <span class="product-num">Showing 1 - 10 of 30 products</span> </div> -->

                <div class="col-xs-6 text-right"> <span class="product-num">Showing 1 - 10 of {{last.id}} products</span> </div>

              </div>
            </div>
            
            <!-- Popular Item Slide -->
            
            <div class="papular-block row single-img-demos"> 
              
              <!-- Item -->
              {% for item in products %}
              <div class="col-md-4">
                
                <div class="item"> 
                  <!-- Item img -->
                  <div class="item-img"> <img class="img-1" src="{{ item.main_image.image.url }}" alt="" >
                  <!-- <div class="item-img"> <img class="img-1" src="{{ item.main_version.main_image.image.url }}" alt="" > -->
                    <!-- Overlay -->
                    <div class="overlay">
                      <div class="position-center-center">
                        <div class="inn"><a href="" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                      </div>
                    </div>
                  </div>
                  <!-- Item Name -->
                  <div class="item-name"> <a href="{% url 'productdetail' item.id %}"> {{ item.title }} </a>
                    <p> {{ item.code }} </p>
                  </div>
                  <!-- Price --> 
                  <span class="price"><small></small> {{ item.price }} </span> </div>
                 
              </div>
              {% endfor %}

            </div>
            
            <!-- Pagination -->
            <ul class="pagination in-center">
              {% if page_obj.has_previous %}
                 <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for page in page_obj.paginator.page_range %}
                 {% if page is page_obj.number %}
                    <li class="active"><a href="#">{{page}}</a></li>
                 {% else %}
                    <li><a href="?page={{page}}">{{page}}</a></li>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                 <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
          
          <!-- Shop SideBar -->
          <div class="col-sm-3">
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate">
                {% get_categories as categories %}
                {% for category in categories %}
                   <li><a href="{% url 'productlist' %}?category_id={{category.id}}"> {{category.name}} <span>{{category.product_count}}</span></a></li>
                {% endfor %}


                <!-- <li><a href="#."> Bag <span>122</span></a></li>
                <li><a href="#."> Soffa <span>09</span></a></li>
                <li><a href="#."> Bed <span>12</span></a></li>
                <li><a href="#."> Shoes <span>98</span></a></li>
                <li><a href="#."> Table <span>34</span></a></li>
                <li><a href="#."> Bedsheets <span>23</span></a></li>
                <li><a href="#."> Curtains <span>43</span></a></li>
                <li><a href="#."> TV Cabinets <span>12</span></a></li>
                <li><a href="#."> Clocks <span>18</span></a></li>
                <li><a href="#."> Towels <span>25</span></a></li> -->
              </ul>
          
              <!-- FILTER BY PRICE -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY PRICE</h5>
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY COLORS</h5>
              <ul class="colors">
                {% for color in colors %}
                <li><a href="{% url 'productlist' %}?color_id={{color.id}}" style="background:{{ color.value}};"></a></li>

                {% endfor %}

                <!-- <li><a href="#." style="background:#958170;"></a></li>
                <li><a href="#." style="background:#c9a688;"></a></li>
                <li><a href="#." style="background:#c9c288;"></a></li>
                <li><a href="#." style="background:#a7c988;"></a></li>
                <li><a href="#." style="background:#9ed66b;"></a></li>
                <li><a href="#." style="background:#6bd6b1;"></a></li>
                <li><a href="#." style="background:#82c2dc;"></a></li>
                <li><a href="#." style="background:#8295dc;"></a></li>
                <li><a href="#." style="background:#9b82dc;"></a></li>
                <li><a href="#." style="background:#dc82d9;"></a></li>
                <li><a href="#." style="background:#dc82a2;"></a></li>
                <li><a href="#." style="background:#e04756;"></a></li>
                <li><a href="#." style="background:#f56868;"></a></li>
                <li><a href="#." style="background:#eda339;"></a></li>
                <li><a href="#." style="background:#edd639;"></a></li>
                <li><a href="#." style="background:#daed39;"></a></li>
                <li><a href="#." style="background:#a3ed39;"></a></li>
                <li><a href="#." style="background:#f56868;"></a></li> -->
              </ul>
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% for tag in tags %}
                <li><a href="{% url 'productlist' %}?tag_id={{tag.id}}">{{tag.title }}</a></li>
                {% endfor %}
                <!-- <li><a href="#.">Towels</a></li>
                <li><a href="#.">Chair</a></li>
                <li><a href="#.">Bedsheets</a></li>
                <li><a href="#.">Shoe</a></li>
                <li><a href="#.">Curtains</a></li>
                <li><a href="#.">Clocks</a></li>
                <li><a href="#.">TV Cabinets</a></li>
                <li><a href="#.">Best Seller</a></li>
                <li><a href="#.">Top Selling</a></li> -->
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">brands</h5>
              <ul class="shop-cate">
                {% for brand in brands %}
                    <li><a href="{% url 'productlist' %}?brand_id={{brand.id}}"> {{brand.name}}</a></li>
                {% endfor %}
                <!-- <li><a href="#."> G-Furniture
                  BigYellow</a></li>
                <li><a href="#."> WoodenBazaar</a></li>
                <li><a href="#."> GreenWoods</a></li>
                <li><a href="#."> Hot-n-Fire </a></li> -->
              </ul>
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{% static 'images/sidebar-bnr.jpg' %}" alt="">
                <div class="position-center-center"> <span class="price"><small>$</small>299</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% include 'partials/about.html'%}
    {% include 'partials/newsletter.html'  %}
  </div>
  
  <!--======= FOOTER =========-->
  {% endblock %} 